<header selected-items="$ctrl.appData.length"></header>

<div class="cart container text-uppercase ">
    <h1 class="cart-heading">Shopping Cart</h1>
    <div class="cart-table" ng-if="$ctrl.appData.length > 0">
        <div class="row cart-row table-head text-muted small">
            <div class="col-lg-6">PRODUCT</div>
            <div class="col-lg-2">QUANTITY</div>
            <div class="col-lg-2">TOTAL</div>
            <div class="col-lg-2">ACTION</div>
        </div>
        <div class="row cart-row" ng-repeat="gem in $ctrl.appData">
            <div class="col-sm-6 prodcut-desc row">
                <span>
                    <div class="col-xs-4">
                        <img ng-src="./storefront/media/{{gem.image}}" alt="gem-image">
                    </div>
                    <div class="col-xs-8 small ">
                        <span>
                            <p class="text-muted ">{{gem.brand}}</p>
                            <p class="">{{gem.title}}</p>
                            <!-- <p class="">color</p> -->
                        </span>
                    </div>
                </span>
            </div>
            <div class="col-sm-6 product-pricing row">
                <div class="col-xs-4">
                    <stepper quantity="gem.quantity" calculate-total="$ctrl.calculateTotal()"></stepper>
                </div>
                <div class="col-xs-1"></div>
                <div class="col-xs-3">
                    <span class="gem-price text-muted">
                        ${{gem.price * gem.quantity}}
                    </span>
                </div>
                <div class="col-xs-2">
                    <span id="remove" class=" text-muted  cart-remove" $ctrl.remove($index)>X</span>
                </div>
            </div>
        </div>
        <div class="row cart-row">
            <div class="col-lg-6"></div>
            <div class=" col-lg-6 cart-bill text-muted small">
                <div class="bill-element">cart overview</div>
                <div class="pull-right">
                    <div class="bill-amount">${{$ctrl.totalAmount}}</div>
                    <div class="bill-amount">${{$ctrl.totalAmount}} CAD</div>
                </div>
                <div class="pull-left">
                    <div class="bill-element">subtotal</div>
                    <div class="bill-element">Total</div>
                </div>
            </div>
        </div>
        <div class="row cart-row">
            <div class="col-lg-6 cart-checkout continue-link">
                <a class="dropdown-link" href="#">continue shopping</a>
            </div>
            <div class="col-lg-6 cart-checkout">
                <button type="submit" class="btn">checkout (${{$ctrl.totalAmount}})</button>
            </div>
        </div>
    </div>
    <div ng-if="$ctrl.appData.length === 0">
        This cart is empty!
        <a href="#">continue shopping</a>
    </div>
</div>